body {
    width      : 100%;
    height     : 100%;
    overflow-x : hidden;
    overflow-y : hidden;
}

.element {
    position : absolute;
    width    : 32px;
    height   : 32px;
}

.snowflake {
    background-image: url('/assets/snowflake.png');
}

.raindrop {
    background-image: url('/assets/raindrop.png');
}